button{
    background-color: rgb(212, 212, 212);
    width: 5rem;
    height: 2.5rem;
    margin: 10px;
    color: rgb(255, 0, 0);
    font-weight: 600;
    
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
}

.active{
     color: aquamarine;
}

.azul{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rojo{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

